{% extends "navbar.html" %}
    
{% block content %}

    <div class="title"> Recent Parking History </div>

        <table style="text-align: center;" class="table table-striped table-css table-bordered ">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Location</th>
                    <th scope="col">Vehicle Number</th>
                    <th scope="col">TimeStamp</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parking in user_parking_data %}
                        <tr>
                            <td scope="row">{{ parking[0] }}</td>
                            <td>{{ parking[1] }}</td>
                            <td>{{ parking[2] }}</td>
                            <td>{{ parking[3] }}</td>
                            {% if parking[4] == 'O' %}
                                <td>
                                    <form method="post" action="{{ url_for ('user.ReleaseSpot') }}">
                                        <input type="hidden" name="spot_id" value="{{ parking[0] }}"/>
                                        <input type="hidden" name="vehicle_number" value="{{ parking[2]}}"/>
                                        <input type="hidden" name="lot_id" value="{{ parking[5] }}"/>
                                        <input type="hidden" name="parking_time" value="{{ parking[3] }}"/>
                                        <button type="submit" class="btn btn-danger"><b> Release Out </b></button></td>
                                    </form>
                            {% else %}
                                <td><button type="submit" class="btn btn-success"><b> Parked Out </b></button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

        <hr style="height: 5px; background-color: black; border: none;">

        <div class="center-wrapper">
            <div class = "search_location">
                <span>
                    <h5><b>Search Parking @Location :</b></h5>
                    <input type="text" id="searchInput" onkeyup="filterTable()">
                </span>
            </div>
        </div>

        <table id="dataTable" style="text-align: center;" class="table table-striped table-css table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Location</th>
                        <th scope="col">Availabilty</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in availability_data %}
                        <tr>
                            <td scope="row">{{ lot[0] }}</td>
                            <td>{{ lot[1] }}</td>
                            <td>{{ lot[2] }}</td>
                            <td>
                                <form method="POST" action="{{ url_for ('user.bookSpot') }}">
                                    <input type="hidden" name="lot_id" value="{{ lot[0] }}"/>
                                    <input type="hidden" name="locationName" value="{{ lot[1] }}"/>
                                    <button type="submit" class="btn btn-success"> Book </button>  
                                </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script>
                function filterTable()
                {
                    const input = document.getElementById("searchInput");
                    const filterText = input.value.toLowerCase();
                    const table = document.getElementById("dataTable");
                    const tr = table.getElementsByTagName("tr");
                    
                    for(let i=1;i<tr.length;i++)
                    {
                        let show = false;
                        const td = tr[i].getElementsByTagName("td")[1];
                        console.log(td)

                        // for(let j = 0;j<td.length;j++)
                        // {
                        //     const cell = td[j];
                        //     if(cell && cell.innerText.toLowerCase().includes(filterText)) {
                        //         show = true;
                        //         break;
                        //     }
                        // }

                        if(td) {
                            const txtValue = td.textContent || td.innerText;
                            if(txtValue.toLowerCase().includes(filterText)) {
                                tr[i].style.display = "";
                            }
                            else{
                                tr[i].style.display = "none";
                            }
                        }

                        //tr[i].style.display = show ? "" : "none";
                    }
                }
            </script>
{% endblock %}